[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
plyer = "*"
envparse = "*"
dbus-python = "*"
feedparser = "*"

[dev-packages]
ipython = "*"
[requires]
python_version = "3.8"
